body {
  background: #ffffff;
  font-family: sans-serif;
  font-weight: 100;
  background-repeat: no-repeat;
  background: url("./images/ConcertCrowd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

input {
  margin: 10px;
}

button {
  margin-left: 10px;
  /*display: block;*/
}

#main h1 {
  padding: 20px;
  border-bottom: 1px solid #aaa;
  color: white;
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

#venue-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#venue-grid .results-display {
  display: block;
  width: 80%;
  height: 60px;
  font-size: 2em;
  background-color: #032459;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.venue-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  color: black;
  border: 1px solid white;
  margin: 15px 10px;
  background: rgba(255, 255, 255, 0.6);
}

.venue-card h5, h4, h3 {
  margin-bottom: 0px;
}

.venue-card h3, h5 {
  margin-top: 10px;
}

.containerElement {
  margin: auto;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #032459;
}

.mapElement {
  height: 90%;
  width: 90%;
}

.website {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
