body {
  background: #ffffff;
  font-family: sans-serif;
  font-weight: 100;
  background-repeat: no-repeat;
  background: url("./images/ConcertCrowd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

input {
  margin: 0 10px;
  font-family: sans-serif;
  height: 20px;
  width: 27%;
  font-size: 1.1em;
  border-radius: 5px;
  padding-left: 5px;
  font-weight: 500;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 6px 8px -1px black;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus {
  border: 3px white solid;
}

form button {
  height: 26px;
  width: 10%;
  font-size: 1.1em;
  display: block;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 6px 8px -1px black;
  margin-top: 15px;
  min-width: 60px;
}

button:hover {
  background-color: white;
  padding-top: 0px;
  cursor: pointer;
}

select {
  margin-left: 40px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 6px 8px -1px black;
}

.input-holder {
  width: 100%;
}

.Logo {
  height: 60px;
  width: 60px;
  -webkit-animation:spin 1.5s linear;
  -moz-animation:spin 1.5s linear;
  animation:spin 1.5s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(200deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(200deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(200deg); transform:rotate(200deg); } }

#map-container button {
  height: 26px;
  font-size: 1.1em;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 20px 9px -6px black;
}

#selectedState {
  height: 27px;
  width: 27%;
  font-size: 1.1em;
}

#main h1 {
  font-family: 'Shrikhand', cursive;
  padding: 0px;
  font-size: 3em;
  border-bottom: 1px solid #aaa;
  color: white;
  font-weight: 100;
  width: 90%;
  display: flex;
  justify-content: space-between;;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
}

#main {
  text-align: center;
}

#venue-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#venue-grid .results-display {
  display: block;
  width: 90%;
  height: 60px;
  font-size: 2em;
  background-color: rgba(18, 14, 14, 0.88);
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#no-results {
  font-size: 2.1em;
  margin-top: 15px;
  animation: blinker 1s linear;
  animation-iteration-count: 3;
}

@keyframes blinker {
  50% { opacity: .2; }
}

.results-display {
  font-size: 1.3em;
}

.results-display h3 {
  margin-top: 10px;
}

.venue-card {
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 320px;
  color: black;
  border: 1px solid white;
  margin: 15px 10px;
  padding: 7px;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 6px 8px -1px black;
}

.venue-card h5, h4, h3 {
  margin-bottom: 0px;
}

.venue-card h3, h5 {
  margin-top: 0;
}

.venue-card h4 {
  margin-top: 5px;
  font-size: .85em;
}

.emailer {
  font-size: .8em;
}

.pa-status {
  font-size: .7em;
  margin-top: 0;
}

.containerElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  width: 95%;
  height: 530px;
  background-color: rgba(18, 14, 14, 0.89);
}

.mapButtons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 15px;
}

.mapElement {
  height: 75%;
  width: 90%;
}

.website {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: .9em;
}

.legend {
  padding: 3px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0 5px;
  background-color: rgba(112, 128, 144, 0.4);
}

.legend-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend p {
  display: inline-block;
  font-size: 1.1em;
  margin: 5px 0;
}

.marker {
  height: 27px;
  width: 15px;
  margin: 2.5px 5px 0 30px;
}

.cluster {
  height: 35px;
  width: 35px;
}
